IBM_TOKEN_URL=<IBM_TOKEN_URL>
IBM_APIKEY=<YOUR_IBM_APIKEY>
COS_URL=<YOUR_IBM_COS_URL>
COS_BUCKET=<IBM_COS_URL>
uREDIS_URL=<YOUR_uREDIS_URL>
KAFKA_SERVERS=<YOUR_KAFKA_SERVERS>
KAFKA_USERNAME=<YOUR_KAFKA_USERNAME>
KAFKA_PASSWORD=<YOUR_KAFKA_PASSWORD>
KAFKA_GROUP=<YOUR_KAFKA_GROUP>
KAFKA_CONSUMER_TOPIC=<YOUR_KAFKA_CONSUMER_TOPIC>
KAFKA_PRODUCER_TOPIC=<YOUR_KAFKA_PRODUCER_TOPIC>